.table {
  min-width: 500px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

.table th,
td {
  padding: 2px;
  outline: 2px solid #000000;
}

.head {
  color: #ffffff;
  background-color: #2a2a2a;
}

.row:nth-child(even) {
  background-color: #d3d3d3;
}

.row > td:first-child {
  text-transform: capitalize;
}
